.adds-top-page {
  margin-top: 40px;
  width: 100%;
  height: 170px;
  background-color: #f3f3f3;
}

.add-bar {
  width: 95%;
  height: 100%;
  background-color: #a0dbe9;
  margin: 0 auto;
}

.article-layout {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  display: flex;
}

.article-display {
  width: 77%;
  margin-left: 35px;
}

.side-add-display {
  width: 23%;
  background-color: #a0dbe9;
  margin-right: 35px;
}

.adds-top-page {
  overflow: hidden;
}

.article-main {
  text-align: left;
  text-decoration: underline;
  font-size: 30px;
}

.article-list li {
  color: #0074c4;
}
