.grid-list {
  overflow: auto;
  max-height: 700px;
}

.grid-item {
  float: left;
  width: 18em;
  height: 320px;
  margin: 1rem;
  text-align: left;
}

.grid-image {
  width: 18em;
}

.grid-headline {
  font-size: 1.2rem;
  font-weight: bold;
}

.grid-article-date {
  font-size: 14px;
  color: gray;
  position: relative;
  bottom: 0;
}
