.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
}

.img-logo-small {
  width: 37%;
  padding-top: 1rem;
  margin-left: 5rem;
}

.footer-icon-top {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #d3d3d3;
}

.footer-icon-single {
  padding: 1rem;
  font-size: 1.5rem;
}

.footer-block-icon {
  margin-left: 40px;
  display: inline-block;
  max-width: 33%;
}

.footer-block-app-icons {
  display: inline-block;
  max-width: 23%;
}

.img-google-small {
  width: 40%;
}

.img-apple-small {
  width: 32%;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-links-left {
  margin: 1rem 3rem;
}

.footer-links-right {
  margin: 1rem 3rem;
}

.ln-link {
  margin: 2rem 0.5rem;
}

.ln-link-blk {
  color: black;
}
