.main-header {
  background-color: white;
  height: 70px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #d3d3d3;
}

.main-header > div {
  text-align: center;
  margin-top: 17px;
}

.head-block-search {
  margin-left: 40px;
  display: inline-block;
  max-width: 200px;
}

.switch-icon {
  display: flex;
  cursor: pointer;
}

.icon-title {
  margin-left: 0.7rem;
  margin-top: 0.5rem;
}

.img-logo {
  width: 67%;
}

.head-block-links {
  margin-right: 40px;
}

.btn-subscribe,
.btn-login {
  padding: 8px 18px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-subscribe {
  background-color: yellow;
  border: 1px solid #d3d3d3;
  color: black;
}

.btn-login {
  background-color: white;
  border: 1px solid #0074c4;
  color: #0074c4;
  margin-left: 1.5rem;
  transition: all 0.3s;
}

.btn-login:hover {
  background-color: #0074c4;
  color: white;
}

.clicker-change {
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.clicker-change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.clicker-change .bar2 {
  opacity: 0;
}

.clicker-change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.input-container {
  display: flex;
  width: 100%;
  margin-left: 15px;
}

.input-field {
  border-radius: 3px;
  border: none;
  border: 1px solid #d3d3d3;
  width: 177px;
  max-width: 177px;
}

.input-field::placeholder {
  padding-left: 10px;
}

.icon {
  padding: 10px;
  color: black;
  min-width: 50px;
  text-align: center;
  margin-left: -50px;
}
